<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="rest-assured-homework" verbose="1">
    <test name="platzi-auth">
        <classes>
            <class name="api.tests.PlatziAuthTests"/>
        </classes>
    </test>
    <test name="restful-booker">
        <classes>
            <class name="api.tests.BookerBookingTests"/>
        </classes>
    </test>
    <test name="bookstore-object-mapping">
        <classes>
            <class name="api.tests.BookStoreObjectMappingTests"/>
        </classes>
    </test>
    <test name="f1-object-mapping">
        <classes>
            <class name="api.tests.DriverObjectMappingTests"/>
        </classes>
    </test>
    <test name="bookstore">
        <classes>
            <class name="com.tbc.restassured.BookStoreTest"/>
        </classes>
    </test>
    <test name="petstore">
        <classes>
            <class name="com.tbc.restassured.PetStoreTest"/>
        </classes>
    </test>
    <test name="openlibrary">
        <classes>
            <class name="com.tbc.restassured.OpenLibraryTest"/>
        </classes>
    </test>
    <test name="f1-drivers">
        <classes>
            <class name="com.tbc.restassured.FormulaDriversTest"/>
        </classes>
    </test>
</suite>
